body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;  
      
}

a:hover {
    font-weight: bold;
    color: rgb(128, 0, 0);
}

.boxes {
    display: block;
    margin: 0em;
    padding: 0em;
    border-style: solid;
    border-color: lime;
    border-radius: 25px;
    width: 30em;
}

.images {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
}

#box1 {
    background-color: purple;
}

#box2 {
    background-color: rgb(238, 255, 0);
    position: relative;    
}

#box3 {
    background-color: darkgreen;
}

#box4 {
    background-color: rgb(0, 102, 128);
}
h1 {
    color: goldenrod;
}

.original {
    color: darkblue;
}

.additional {
    color: indigo;
}

#One {
    color: indigo;
}

#Two {
    color: darkblue;
}

#Three {
    color: yellow
}

#Four {
    color: teal;
}

#Five {
    color: fuchsia;
}

ul {
    color: navy;
}

.star {
    color: orangered;
}

#wars {
    color: seagreen;
}

#friends {
border: 2px solid black;
}

#restaurants {
    border: 2px solid black;
}

#places {
    border: 2px solid black;
}