body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;  
      
}

a:hover {
    font-weight: bold;
    color: rgb(128, 0, 0);
}

.boxes {
    margin: 0em;
    padding: 0em;
    border-style: solid;
    border-color: lime;
    border-radius: 25px;
    width: 30em;
}

#box1 {
    background-color: purple;
}

#box2 {
    background-color: rgb(238, 255, 0);
}

#box3 {
    background-color: darkgreen;
}

#box4 {
    background-color: rgb(0, 102, 128);
}